.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: black;
  color: white;
  font-family: ' Open Sans' , sans-serif;
  font-size: 16px;
}

.logo {
  height: 20%;
  width: 20%;
}

header {
  text-align: center;
  width: 100%;
}

.input-div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

select, input, button {
  font-family: 'Press Start 2P' , cursive;
  font-size: 10px;
  margin: 10px;
  padding: 10px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;}

.filters {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

th {
  background-image: url('https://static.wixstatic.com/media/695bcb_92602dfb1f4f4209a0263fadcb7f5324~mv2.gif');
  color: white;
  font-family: 'Press Start 2P' , cursive;
  font-size: 15px;
  padding: 8px;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

table tr:nth-child( odd ) {
  background-color: white;
}

table tr:nth-child( even ) {
  background-color: rgb(235, 235, 235);
}

table tr:nth-child( odd ):hover {
  background-color: rgb(235, 235, 235);
}


table tr:nth-child( even ):hover {
  background-color: rgb(224, 224, 224);
}

.table {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 90%;
}

td {
  color: black;
  font-size: 18px;
  padding: 8px;
  text-align: center;
}

